@import url(http://weloveiconfonts.com/api/?family=fontawesome)
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900');
p { color: #9e8e92;}
 
 * {
    padding: 0;
    margin: 0;
 }
html,body,button,p {
     font-family: 'Source Sans Pro ', sans-serif;
}
 section {
    display: flex;}

.fontawesome-bell {
    color: #fdbd1f;
    float: left;
    font-size: 2.545453vw;
}
.site_name {
 display: flex;
 padding-left: 25px;
 align-items: center;
 width: 200px; 
 font-size: 16px;
}
.site_name p {
   padding-left: 10px;
   font-weight: 300;
}
.site_name p span {
   font-weight: 900;
   color: #9e8e92;
}

i {
    font-size: 85px;
}
.png1 { 
    background: url(png1.png) center center no-repeat;
    background-size: cover;
    height: 440px;
    justify-content: center;
    flex-grow: 1;
    overflow:hidden;
    align-items: center;
}
.cub1 {
    margin-top: 65px;
    min-width: 130px;
    width:14vw;
    background-color: #ab6f80;
    min-height: 25px;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cub2 {
    margin-top: 3px;
    width: 37vw;
    min-width: 300px;
    background-color: #ab6f80;
    height: 3vw;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head1 .cub2 h1 {font-size: 2.2vw;}
.head1 .cub1 h1 {font-size: 1.9vw;}
h1 { 
    color: white;
    font-weight: 900;
}
.horizontal_buttons {
    display: flex;
    margin-top: 25px;
}

.head2{
 width: 100%;
 height: 272px;
 background-color: #fdbd1f;
 display: flex;
 justify-content: center;
 flex-direction: column; 
 align-items: center;
}
.head2 h2 {
    font-size: calc(10px + 1.15vw);
    font-weight: 700;
}
.head2 p {
    font-weight: 200;
     font-size:calc(7px + 1vw);
}
h2 {  color: white;}
.text_1 {    
 color:white;
 text-align: center;
}

.text_box {
    color: #fdbd1f;
    font-size: calc(5.1px + 0.9vw);
    font-weight: 900;
    margin-left: 1rem;
    width: 12vw;
    min-width: 80px;
    background-color: #ab6f80;
    height: 3vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
button {
    border: 0;
    outline: 0;
}
.menu-main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.menu-main li {
  list-style-type: none;
  color: #9e8e92;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .menu-main a {
        color: #9e8e92;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        padding: 30px 25px;
        display: block;   
    }

    .menu-main a:hover {
        color: white;
        background: #fdbd1f;
    }
        
.header-container{
    border-top: 5px solid #fdbd1f; 
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#menu-checkbox {display: none;}
.head3{
 height: 300px;
 width: 100%;
 background-color: white;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
}

.more_button {
    color: white;
    min-width: 40px;
    min-height: 20px;
    width: 100px;
    height: 40px;
    background-color: #fdbd1f; 
    border-radius: 5px;
}
.head3 h2 {
 color:#ab6f80;
}
.head3 p span  {
color: #fdbd1f;
font-size: 1.1vw;
}
.head3 p {font-size: calc(1px + 1vw);}
.first {
    display: flex;
    flex-grow: 1;
}
.text_block {margin-top: 30px;}
.head3 button {margin-top: 30px;font-weight: 900;font-size: 19px;}
.rocket {padding: 0px 45px;}
.second {display: flex;flex-grow: 1;}
.microphone {padding: 0px 45px;}
.head3 i {color: #fdbd1f ;}

.head4{
 height: 352px;
 width: 100%;
 background-color: #ab6f80;
 flex-direction: row;
 align-items: center;
}
.device {display: flex;width: 100%}

.tablets {
    padding: 0 65px;
    align-items: center;
    display: flex;

} 
.head4 p span {
    color: white;
    font-weight: 200;
    font-size: calc(5px + 1.15vw);
    line-height: 1;
}
.head4 h1 {font-size: calc(8px + 1.15vw);line-height: 1;}
.head4 button {
    margin-top: 30px;
}
.text1 {
    color:#fdbd1f;
    margin-top: 30px;
    text-align: justify;
    font-size: calc(4.7px + 1.17vw);
    margin-right: 3vw;

}
i.fa-mobile-alt {
transform: translateX(-10px);
}
.head4 i {
    color: #fdbd1f;
}
.vl {
    border-left: 1px solid #e2e2df;
    height: 100%;
    text-align: center;
}
.head4 .more_button {
    color:#ab6f80;
    font-size: 19px;
    font-weight: 900;
    background-color: white;
}
.head4 i {
    font-size: 13vw;
}
.head4 span i {
    font-size: 11vw;
}
.head5 {
 height: 546px;
 width: 100%;
 background-color: white;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.qqq {
    padding: 20px 100px;
}
.head5 i {
font-size: 350px;
color: #fdbd1f;
}

.headline {
    text-align: center;
}
.laptop {
display: flex;
align-items: center; 
}
.head5 h2 {
  
    margin: 0;
    color:#ab6f80 ;
    font-size: calc(12px + 1.3vw);
}
.head5 p span {color: #fdbd1f;font-size: calc(10px + 0.8vw)}
.text2 {
    margin-top: 30px;
    color: #978489;
    font-size: calc(10px + 0.6vw);
}

.fa-laptop {background: url(png2.png)  no-repeat;
    background-size: 350px 250px;
    background-position: right;
    

}
.fontawesome-circle-arrow-right {
    font-size: 6vmin;
    color: #ab6f80;
}
.fontawesome-circle-arrow-left {
    font-size: 6vmin;
    color: #ab6f80;
}

footer {
   height: 112px;
 width: 100%; 
 background-color: #cacaca;
}

.copyright {
    width: 100%;
    height: 100%;
     display: flex;
      justify-content: center;
    align-items: center;

}

footer span {
    color: #ab6f80;
}

footer p {
    font-size: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ab6f80;
}
@media screen and ( max-width: 1200px) {
.rocket {padding: 0px 25px} 
.microphone{padding: 0px 25px}
.head3 p {font-size: 12px;}
}
@media screen and ( max-width: 918px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu-main {
        display: none;
        padding-bottom: 30px;
    }

        .menu-main li {
            width: 100%;
            display: block;
            font-size: 12px;
        }

        .menu-main a {
            display: block;
            padding: 8px;
        }

    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #9e8e92;
    }

        .toggle-button:after {
            content: attr(data-open);
            display: block;
            padding-top: 25px;
        }

    #menu-checkbox:checked + nav[role="menu"] .menu-main {
        display: block;
    }

    #menu-checkbox:checked + nav[role="menu"] .toggle-button:after {
        content: attr(data-close);
    }

    .header-container a {
        margin-right: -65px;
    }

    .menu-main {
        position: relative;
        top: 30px;
        right: 115px;
    }
    footer p {font-size: 16px;}
.fontawesome-bell {
    font-size: 30px;
}
.site_name p {
   padding-left: 5px;  
}
.site_name {font-size: 12px;}
.head3 h2 {font-size:16px;}
.head3 p span {font-size:13px;}
.vl {display: none;}
.text_block {padding: 5px 0px;}
.text_block2 {padding: 5px 0px;}
.head3 p {font-size: 13px;margin-top:0px;text-align: justify;}
.head3 button {margin-top: 1px;font-weight: 900;font-size: 14px;}
.more_button {width: 60px; height:25px }
.head3 i {font-size: 55px;padding: 0px;}
.rocket {padding: 0px 5px;}
.microphone {padding: 0px 10px;}
.qqq {padding: 10px 23px;}

.tablets {
    padding: 0px 20px;
}
.head4 i {font-size: 120px;}
.text1 {margin-top: 10px;}
.head4 span i {font-size: 90px;}
.head4 button {margin-top: 10px;}
.head4 .more_button {font-size: 14px;}
.hl {
    border-top: 1px solid #e2e2df;  
    width: 100%;
}
.head1 .cub2 h1 {font-size: 15px;}
.head1 .cub1 h1 {font-size: 15px;}
.head5 i {
font-size: 170px;
}
.head5 span{
font-size: 35px;
}
}